<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8" />
  <title>Associative Looseness Facebook App</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
  <script>
  document.write('<base href="' + document.location + '" />');
  </script>

  <script src="http://code.angularjs.org/1.2.10/angular.js"></script>
  <script src="angular-facebook.js"></script>
  <script src="app.js"></script>

  <style>
    body,html{
      height: 100%;
    }
    body{
          background-image: url("http://thepatternlibrary.com/img/aq.jpg"); 
          overflow-x:scroll;

    }
    .panel-body{
      height: 400px;
    }
    .posts{
      overflow-y:scroll;
    }
    .container{
      padding : 10px;
    }

  </style>
</head>
<body ng-controller="authenticationCtrl" >
<div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Associative-Looseness-Facebook-App</h2>
        </div>
      </div>


  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"> Posts List ({{groupFeed.data.length}})</h3>
        </div>
        <div class="panel-body posts">
          <p ng-show="showLoading">Please wait..</p>
          <ol>
            <li ng-repeat="item in groupFeed.data">{{item.from.name}} - <a target="_blank" href="{{item.link}}">{{item.name}}</a></li>
          </ol>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">Leaderboard</h3>
        </div>
        <div class="panel-body">
          <ol class="list-group">
            <p ng-show="showLoading">Please wait..</p>
            <li  class="list-group-item " ng-repeat="person in postCountArr  | orderBy:'count':true | limitTo:9" ><span class="badge">{{person.count}}</span>{{person.name}}</li>
          </ol>
        </div>
      </div>
    </div>
</div>
</body>
</html>


